[Desktop Entry]
Type=Application
Name=Timer
Name[de_DE]=Timer
Name[es_ES]=Temporizador
Name[nl_NL]=Timer
Name[fr_FR]=Minuteur
Categories=Applications;
Exec=invoker --type=qtcomponents-qt5 /usr/bin/asteroid-timer
Icon=gnome-clocks
X-Desktop-File-Install-Version=0.20
