[Desktop Entry]
Type=Application
Name=Timer
Name[de_DE]=Timer
Name[es]=Temporizador
Name[fr]=Minuteur
Name[ko]=타이머
Name[nl_NL]=Timer
Name[pl]=Timer
Name[pt_BR]=Timer
Name[sv]=Timer
Name[ru]=таймер
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-timer
Icon=ios-timer-outline
X-Asteroid-Center-Color=#E34FB1
X-Asteroid-Outer-Color=#83155B
