[Desktop Entry]
Type=Application
Name=Timer
Name[de_DE]=Timer
Name[es_ES]=Temporizador
Name[fr_FR]=Minuteur
Name[nl_NL]=Timer
Name[pl_PL]=Timer
Name[ru_RU]=таймер
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-timer
Icon=ios-timer-outline
X-Asteroid-Center-Color=#E34FB1
X-Asteroid-Outer-Color=#83155B
